@media screen and (max-width: 1440px) {
  .wrapperMostPopular {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 1280px) {
  .collectionSettingsWrapper {
    gap: 48px;
  }
  .settingsForm {
    grid-column: span 6;
  }
  .mintLimitedWrapper {
    gap: 24px;
    width: 80%;
  }
  .mintLimitedWrapper .sidebar {
    width: 300px;
    min-width: 300px;
    max-width: 300px;
  }

  .ownership {
    flex-direction: column;
  }
  .transferOwnership {
    width: 100%;
    margin: 8px 0 0 0;
    text-align: center;
  }
  .collectionUpdateSettings {
    max-width: unset;
    width: 90%;
    flex-direction: column;
    align-items: center;
  }
  .collectionSettingsImages {
    width: 75%;
    gap: 0;
  }
  .collectionSettingsData {
    width: 100%;
  }
  .settingsWidthHalf {
    width: 100% !important;
  }
  .settingsSplitGrouping {
    grid-template-columns: 1fr;
  }
  .wrapperMostPopular {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1200px) {
  .navbar-collapse {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .navbar-collapse ul#buttonIcon {
    margin-right: 0;
    flex-direction: column;
    align-items: center;
    display: flex;
  }
  #signUpButton {
    margin: 16px auto 0 !important;
  }
  .navbar-collapse ul#buttonIcon li {
    margin: 0;
    padding: 0;
  }
  .navbar-collapse button {
    margin: 16px 0 0 !important;
  }
  .wrapperMostPopular {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1199px) {
  #checkBox {
    min-width: initial;
  }
  #iconProfile {
    width: 15vw;
  }
  .datePickerContent {
    width: 80%;
  }
  .timeEntry input {
    font-size: 40px;
  }
  .timeEntry p {
    font-size: 40px;
  }
  .returnLink {
    left: 56px;
  }
}

@media (max-width: 991px) {
  .page404 {
    flex-direction: column-reverse;
    gap: 128px;
    align-items: center;
    text-align: center;
    margin-top: 48px;
  }
  .collectionSettingsWrapper {
    display: flex;
    flex-direction: column;
  }
  .filtersContainer {
    max-width: unset;
  }
  .settingsForm,
  .settingsForm {
    margin: 32px auto 16px;
  }
  #accountName {
    max-width: unset;
  }
  #chooseLayout {
    display: none;
  }

  .popularItems {
    width: calc(100% / 2);
  }

  #marketplace > .row {
    flex-direction: column;
  }
  #marketplace #headerInput {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 16px;
  }

  #marketplace #headerInput > div {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  #marketplace #headerInput > select {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 0;
  }
  #marketplace #headerInput > button {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  #marketplace .explorerItems {
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 860px) {
  .wrapperMostPopular {
    grid-template-columns: repeat(3, 1fr);
  }
  .mintLimitedWrapper {
    flex-direction: column-reverse;
  }
  .mintLimitedWrapper .sidebar {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
  .mintSidebarMain img {
    width: 196px;
    height: 196px;
  }
}

@media (max-width: 768px) {
  header .form-control-container {
    width: 100% !important;
    margin-top: 24px;
  }
  .returnLink {
    position: relative;
    left: unset;
    top: unset;
    justify-content: center;
    margin: 12px auto 32px;
  }

  .confirmation-popup {
    max-width: unset;
    width: 80%;
    flex-direction: column;
    top: unset;
    bottom: 24px;
    text-align: center;
  }

  .confirmation-buttons {
    margin-top: 32px;
  }

  .confirmation-popup img {
    margin: 0 0 24px;
  }

  .confirmation-show {
    right: 50%;
    transform: translateX(50%);
  }

  .hiddenOnMobile {
    display: none;
  }
  #filter {
    display: none;
    max-width: 100%;
  }

  #formSearch {
    margin-left: 0;
  }
  #topSection h2 {
    width: initial;
    margin: 20px !important;
  }
  #infoNFT h2 {
    font-size: 30px;
  }
  h2 {
    font-size: 35px;
    color: white;
    font-family: GothamBlack;
  }
  #topSection h3 {
    width: initial;

    font-size: 17px;
  }
  .listElements {
    z-index: -2;
    position: relative;
    padding: 5px;
    max-width: calc(100vw / 5);
  }
  #ranks {
    margin-top: 2vh;
    width: 100vw;
  }
  td img {
    max-width: 55px;
  }
  td,
  td span {
    padding-left: 5px;
    font-size: 13px;
  }
  #ranks .nav-pills li {
    padding: 20px 0;
    margin-right: 20px;
  }
  #wrapperPopularItems {
    display: block;
  }
  .popularItems {
    padding: 20px 0;
    width: initial;
  }
  input.form-control {
    width: 65vw !important;
  }

  #iconProfile {
    width: 20vw;
  }
  .navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .navbar > a {
    grid-area: 1/1/1/2;
  }
  .navbar > form {
    grid-area: 2/1/2/3;
  }
  .navbar > form input {
    width: 100% !important;
  }
  .navbar > button {
    grid-area: 1/2/1/3;
    justify-self: flex-end;
  }
  .navbar > div {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media (max-width: 575px) {
  #headerInput {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    padding: 0 32px;
  }
  #marketplace #headerInput > select {
    width: 100%;

    margin-left: 0 !important;
  }
  /* style select arrow */

  #headerInput #command {
    padding: 0;
  }
  #headerInput button {
    width: 100%;
    margin-left: 0 !important;
  }
  .wrapperMostPopular {
    grid-template-columns: repeat(2, 1fr);
  }
  .settingsButtons {
    display: flex;
    flex-direction: column;
  }
  #createCollection button {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  .popup-wrapper {
    width: 90%;
    min-width: unset;
  }
  .entry-fields {
    flex-direction: column;
  }
  .entry-fields input {
    width: 100%;
  }
  .entry-fields > div {
    width: 100%;
  }
  .settingsButtons button {
    margin: 8px 0;
    width: 100%;
  }
  .settingsButtons .delete {
    margin: 0 0 16px;
  }
  #accountButton {
    margin-top: 15px;
  }

  #profile .navigation {
    padding: 15px;
    border-right: 1px solid #2d2d2d;
    height: 100vw;
  }

  #iconProfile {
    width: 25vw;
  }
  #infoHeader svg {
    color: #ff7000;
    width: 25px;
    margin-left: 20px;
    margin-right: 0;
  }

  #profile .navigation {
    display: none;
  }

  #profileImg {
    margin-top: 50px;
    padding: 0;
    max-width: initial;
  }
  .mintLimitedWrapper .sidebar {
    padding: 24px 32px 32px;
  }
  .mintLimitedWrapper .mintInfo {
    padding: 32px;
  }
}

@media screen and (max-width: 480px) {
  .wrapperMostPopular {
    grid-template-columns: repeat(1, 1fr);
  }
  .mintSidebarMain img {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    max-width: 172px;
    max-height: 172px;
  }
}
